[submodule "Vendor/Stanley"]
	path = Vendor/Stanley
	url = https://github.com/Kosoku/Stanley.git
[submodule "Vendor/Loki"]
	path = Vendor/Loki
	url = https://github.com/Kosoku/Loki.git
[submodule "Vendor/KSOFontAwesomeExtensions"]
	path = Vendor/KSOFontAwesomeExtensions
	url = https://github.com/Kosoku/KSOFontAwesomeExtensions.git
[submodule "Vendor/KSOColorPicker"]
	path = Vendor/KSOColorPicker
	url = https://github.com/Kosoku/KSOColorPicker.git
[submodule "Vendor/LoremIpsum"]
	path = Vendor/LoremIpsum
	url = https://github.com/lukaskubanek/LoremIpsum.git
